/* Style for headers (h1, h2, h3, etc.) */
.product-description h1,
.product-description h2,
.product-description h3 {
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  font-weight: bold;
}

.product-description h1 {
  font-size: 36px;
  line-height: 50px;
}

.product-description h2 {
  font-size: 32px;
  line-height: 40px;
}

.product-description h3 {
  font-size: 28px;
  line-height: 35px;
}

/* Style for lists */
.product-description ul,
.product-description ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.product-description li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
}
